a{
  text-decoration: none;
  &:hover{
    text-decoration: none!important;
  }
}
h2,p{
  color: #fff;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
body{
  background:#1C1A1E;
}
.wrapper{
  background:#1C1A1E;
}